*{
    padding:0;
    margin:0;
}
header{
    width: 1200px;
    height: auto;
    margin:0 auto;


}
.nav{
    width: 1200px;
    height: auto;
    background-color:burlywood;
    margin-top: 10px;;
    margin-bottom: 10px;
}

.nav ul li{
    list-style: none;
    display:inline;
    position: relative;
}

.nav ul li a{
    display:inline-block;
    padding:20px;
    font-size:20px;
    font-weight:bold;
    color:darkblue;
    text-decoration:none;
}

.nav ul li a:hover{
    background:red;
    border:solid;
    border-radius: 5px;;
}
.nav ul li ul{
    position:absolute;
    background-color: seagreen;
    left: -9999px;

}
.nav ul li:hover ul{
    left: 0px;
    border: solid;
}
.banner-cover{
    height: 50vh;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.banner-text button{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding:20px;
    border-style: solid;
    border-radius: 15px;

}

.banner-text button:hover{
    background: yellow;
    border: solid;


}


.banner-text{
    padding:100px;
    text-align: center;
}

.about-logo img{
    width:320px;
    height: auto;
    margin:0px 10px;
    margin-bottom: 10px;
    box-shadow: 0px 8px 10px 0px #000 ;
}

.about-text{
    width: 520px;
    height: auto;
    padding: 10px;
    border:1px solid;
    margin:20px;
}
.about-text p{
    padding:5px;
    margin: 10px;;
    font-size: 15px;
}
.row{
    overflow: auto;
}
.col{
    float: left;
}
.about-section{
    background:burlywood;
    margin:25px;
}
.about-text h2{
    font-size: 25px;;
    font-weight: bold;
}
.service{
    width: 300px;
    height: auto;
    border: 1px solid;
    text-align: center;
    background:burlywood;
    display: inline-block;
    margin:30px;
    
    
}
.service  h3:hover{
    color: red;
    margin-bottom: 20px;
    font-size: 25px;
}
.service :hover{
    background:yellowgreen;
    font-weight: bold;
    padding: 5px ;
    margin:5px;
}
.fa-address-book{
    font-size: 25px;
    margin: 10px;
}

.fa-address-book:hover{
    color:red;
}
.title{
    font-size: 25px;
    margin:10px;
    text-align: center;
}

.contact{
    background:burlywood;
   
    box-shadow: 0px 0px 10px #ccc;
    width: 300px;
    display: inline-block;
    margin: 10px;
   
   

}
.contact p{
   
    margin:5px;
    
   
}

.cont-icon{
    float: left;
}
.cont-text{
    float: left;
    /* border:solid; */
}
.inputTag input{
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px ;
    width:60%;
    
    margin:5px;
    border-radius: 5px;
    background:burlywood;


}

.inputTag input:hover{
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px ;
    width:90%;
   
    margin:5px;
    border-radius: 5px;
    background:burlywood;


}
.inputTag textarea{
    font-size: 20px;
    margin: 25px;
    background:burlywood;

}
.inputTag textarea:hover{
    font-size: 20px;
    margin: 25px;
    background:burlywood;
    width:90%;
    font-weight: bold;
    
}

.contact-form{
  
    height: auto;
    margin:0 auto;
    margin-top: 30px;
    background:burlywood;

}
.contact-section{
    margin: 20px;;
}
.inputTag button{
    font-size: 20px;
    width: 200px;
    background-color: burlywood;
    padding:15px;
    margin:10px;
    border-radius: 15px;
    
}
.inputTag button:hover{
    font-size: 20px;
    width: 200px;
    background-color: burlywood;
    border: solid;
    padding:15px;
    margin:10px;
    border-radius: 15px;
    
}
footer{
    width: 1200px;
    margin:0 auto;
    height: auto;
    background-color: burlywood;
    margin: 10px;;
    padding-top: 20px;
    padding-bottom: 20px;
    
  
}
.footer-icon i{
   
    font-size: 25px;
    padding:20px;
    
}
.footer-block{
    display: inline-block;
    text-align: center;
    margin:25px;
}