*{
    padding:0;
    margin:0;
}
header{
    width: 960px;
    height: auto;
    margin:0 auto;

}
.nav{
    width: 960px;
    height: auto;
    background-color:burlywood;
}

.nav ul li{
    list-style: none;
    display:inline;
    position: relative;
}

.nav ul li a{
    display:inline-block;
    padding:20px;
    font-size:20px;
    font-weight:bold;
    color:darkblue;
    text-decoration:none;
}

.nav ul li a:hover{
    background:red;
    border:solid;
    border-radius: 5px;;
}
.nav ul li ul{
    position:absolute;
    background-color: seagreen;
    left: -9999px;

}
.nav ul li:hover ul{
    left: 0px;
    border: solid;
}